*.gif -crlf -diff -merge
*.GIF -crlf -diff -merge
*.jpeg -crlf -diff -merge
*.jpg -crlf -diff -merge
*.JPG -crlf -diff -merge
*.otf -crlf -diff -merge
*.png -crlf -diff -merge
*.PNG -crlf -diff -merge
*.tif -crlf -diff -merge
*.TIF -crlf -diff -merge
*.tiff -crlf -diff -merge
